
<!-- <script 
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
    crossorigin="anonymous">
</script>
<script 
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
    crossorigin="anonymous">
</script> -->

<script>    
    //script for nav menu timing so  users can see close animation
    var navAnimationTime = 800; //this is the time the navigation menu takes to close (miliseconds)
    var links = document.getElementsByClassName("navigation__link");
    for(var i=0; i < links.length; i++){
        links[i].addEventListener("click", function(e){
            e.preventDefault();
            var path = this.dataset.path;
            var navToggle = document.getElementById("navi-toggle");    
            navToggle.checked = false;
            setTimeout(function(e){
                location.assign(path);                
            }.bind(this), navAnimationTime);        
        });
    }
    
</script>

</body>
</html>