<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Polls Unlimited</title>   
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script> 
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500|Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800|Rubik:300,400,500" rel="stylesheet">    
    <link rel="stylesheet" type="text/css" href="/dist/stylesheets/style.css">    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>  
    <script type="text/javascript" src="/src/javascripts/poll-ui.js"></script>  
</head>
<body>   
    
    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>
        <div class="navigation__background">&nbsp;</div>        
        <nav class="navigation__nav">
            <ul class="navigation__list">
                <% if(currentUser){ %>
                <!-- <li class="navigation__item"><a href="#" data-path="#" class="navigation__link"><span>01</span> Profile</a></li> -->
                <li class="navigation__item"><a href="/logout" data-path="/logout" class="navigation__link"><span>02</span> Logout</a></li>
                <% } else { %>
                <li class="navigation__item"><a href="login" data-path="/login" class="navigation__link"><span>02</span> Login</a></li>    
                <li class="navigation__item"><a href="/register" data-path="/register" class="navigation__link"><span>01</span> Sign Up!</a></li>                
                <% } %>                
                <li class="navigation__item"><a href="/polls" data-path="/polls" class="navigation__link"><span>03</span> Polls</a></li>
                <% if(currentUser){ %>
                <li class="navigation__item"><a href="/polls/new" data-path="/polls/new" class="navigation__link"><span>04</span> + New</a></li>
                <% } %>                
            </ul>
        </nav>
        
    </div>
    
    <div class="container-full-g">
        <% if(error && error.length > 0){ %>
            <div class="Alert Alert--warning" role="alert">
                <%=error%>
            </div>
        <% } else if(success && success.length > 0) { %>
            <div class="Alert Alert--success" role="alert">
                <%=success%>
            </div>
        <% } %>
    </div>
    <div id="modal-window" class="closed"> <!-- closed -->
        <div id="modal-message-window">
            <div id="modal-close-btn">X</div>
            <h1 id="modal-message">You Have Already Voted!</h1>                        
        </div>
    </div>   