<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Polls Unlimited</title>   
    <script src="https://use.fontawesome.com/115e8e6547.js"></script>     
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Rubik" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" 
        integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous" >         -->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <!-- <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css"> -->
    <!--<![endif]-->
    <link 
        rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    
    <link rel="stylesheet" type="text/css" href="/dist/stylesheets/style.css">
    <script 
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
        crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script type="text/javascript" src="/src/javascripts/fetch.js"></script>
    <script type="text/javascript" src="/src/javascripts/nav-ui.js"></script>    
</head>
<body>   
<div class="container-fluid">    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">  
        <button 
            class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>                
                <li class="nav-item dropdown active">
                    <a 
                        class="nav-link dropdown-toggle" 
                        href="#" 
                        id="navbarDropdown" 
                        role="button" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false"
                    >
                        Polls
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/polls">View All Polls</a>
                        <% if(currentUser) { %>
                            <a class="dropdown-item" href="/polls/user">View My Polls</a>
                            <a class="dropdown-item" href="/polls/new">Add a New Poll</a>                    
                        <% } else { %>
                            <a class="dropdown-item disabled" href="#">View My Polls</a>      
                            <!-- this is just temporary for now - set href back to # -->
                            <a class="dropdown-item" href="/polls/new">Add a New Poll</a>              
                        <% } %>
                        
                </li>                            
                <% if (currentUser){ %>
                    <li class="nav-item dropdown active"> 
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= currentUser.username %>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Profile</a>                            
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>                
                <% } else { %>
                    <li class="nav-item dropdown active float-right">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Login
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/login">Login</a>
                            
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/register">Sign up</a>
                        </div>
                    </li>     
                <% } %>
                           
            </ul>            
        </div>
    </nav>
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%=error%>
            </div>
        <% } else if(success && success.length > 0) { %>
            <div class="alert alert-success" role="alert">
                <%=success%>
            </div>
        <% } %>
    </div>
    <div id="modal-window" class="closed"> <!-- closed -->
        <div id="modal-message-window">
            <div id="modal-close-btn">X</div>
            <h1 id="modal-message">You Have Already Voted!</h1>                        
        </div>
    </div>   