
//BOOTSTRAP OVERIDES
body{
    // font-family: "Lato", sans-serif;
    // font-weight: 400;
    // /* font-size: 16px; */
    // line-height: 1.7;
    font-family: $font-copy;    
    font-size: 1.5rem;
    color: $text-dark;    
}

.navbar {
    // font-size: 2rem;
}

.dropdown-item {
    color: $text-dark;    
    font-size: 1.5rem;
}

h1, h2, h3{
    font-size: inherit;
    font-family: inherit;
}

//NEW CLASSES

.HeadingPrimary {
    h1 {
        font-family: $font-primary;     
        font-size: 6rem;
        font-weight: 300;
        color: $color-tertiary;
        text-transform: uppercase;
        letter-spacing: .1rem;
        line-height: 1.5;
    }
    
}

.HeadingSecondary {
    h2 {
        font-family: $font-primary;     
        font-weight: 300;
        font-size: 4rem;
        letter-spacing: .1rem;
        color: $color-tertiary;
        text-transform: uppercase;
    }
    
}

.HeadingTertiary {
    h3 {
        font-size: 2.5rem;
        font-weight: 400;
        font-family: $font-copy;
    }
    
}

.TextLabel--lg {
    font-size: 2rem;
    font-family: $font-primary;
    font-weight: 500;
    letter-spacing: 2px;
    color: $color-black;
}