.u-margin-bottom-lg {
    margin-bottom: 6rem;
}

.u-margin-bottom-md {
    margin-bottom: 4rem;
}

.u-margin-bottom-sm {
    margin-bottom: 2rem;
}

.u-margin-top-sm {
    margin-top: 2rem;
}

.u-margin-top-md {
    margin-bottom: 4rem;
}

.u-margin-right {
    margin-right: 2rem;
}

.u-margin-left {
    margin-left: 2rem;
}

.u-center {
    margin: 0 auto;
}

.u-center-absolute {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);    
}

.u-pull-right {
    float: right;
    @include clearfix;

}

.u-inline-block {
    display: inline-block;
}

.background-primary {
    background-color: $color-primary;
    color: $color-tertiary;
}