<% include ./partials/header %> 

<ul class="SlideShow">
    <li class="SlideShow__slide"></li>
    <li class="SlideShow__slide"></li>
    <li class="SlideShow__slide"></li>
    <li class="SlideShow__slide"></li>
    <div class="ButtonGroup u-center-absolute">
            <a href="/polls" class="Button Button--large Button--regular" style="margin-left: 45%">View Polls</a>
    </div>
</ul>
   

    
    



<% include ./partials/footer %> 