<% include ./partials/header %>

<div class="display-tabbed">
    <ul>
        <% if(register){ %>
        <li><a href="#" class="display-tabbed__tab">Login</a></li>
        <li><a href="#" class="display-tabbed__tab display-tabbed__tab--active">Register</a></li>          
        <% } else { %>    
        <li><a href="#" class="display-tabbed__tab display-tabbed__tab--active">Login</a></li>
        <li><a href="#" class="display-tabbed__tab">Register</a></li>          
        <% } %>    
    </ul>
    
    <div class="display-tabbed__panels">
        <!-- login panel -->
        <% if(register){ %>
        <div class="display-tabbed__panel">                
        <% } else { %>        
        <div class="display-tabbed__panel display-tabbed__panel--active">                    
        <% } %>      
            <!-- Grouping for login form               -->
            <div class="Login u-center-absolute">
                <div class="ButtonGroup">
                    <div class="u-center-x-absolute">
                        <a href="/login/twitter" class="Button Button--medium Button--regular">Login with Twitter</a>
                    </div>                                        
                </div>
                <!-- Login form -->
                <form action="/login" method="POST" class="Form u-margin-top-lg">
                    <!-- Username Input -->
                    <div class="Form__group">
                        <input 
                            type="text" 
                            id="login-username" 
                            class="Form__input" 
                            name="username" 
                            placeholder="User Name" 
                            autocomplete="off" 
                            autofocus
                            required
                        >
                        <label for="login-username" class="Form__label">User Name</label>    
                    </div>
                    <!-- Password input -->
                    <div class="Form__group">                    
                        <input 
                            type="password" 
                            id="login-password" 
                            class="Form__input" 
                            name="password" 
                            placeholder="Password" 
                            autocomplete="off" 
                            required
                        >
                        <label for="login-username" class="Form__label">Password</label>
                    </div>     
                    <div class="ButtonGroup">
                        <div class="u-center-x-absolute">
                            <button class="Button Button--large Button--primary">Login</button>
                        </div>                            
                    </div>                           
                    
                </form>
            </div>
                               
        </div>
        <!-- registration panel -->
        <% if(register){ %>
        <div class="display-tabbed__panel display-tabbed__panel--active">
        <% } else { %>            
        <div class="display-tabbed__panel">
        <% } %>        
            <!-- Grouping for registration form -->
            <div class="Registration u-center-absolute">
                <div class="ButtonGroup">
                    <div class="u-center-x-absolute">
                        <a href="/login/twitter" class="Button Button--medium Button--regular">Login with Twitter</a>
                    </div>                                        
                </div>  
                <!-- registration form           -->
                <form action="/register" method="POST" class="Form u-margin-top-lg">
                    <!-- Full Name Input -->
                    <div class="Form__group">
                        <input 
                            type="text"                      
                            class="Form__input" 
                            name="fullname" 
                            placeholder="Full Name" 
                            autocomplete="off"                                                         
                        >
                        <label class="Form__label">Full Name</label>    
                    </div>
                    <!-- Username Input -->
                    <div class="Form__group">                    
                        <input 
                            type="text" 
                            id="registration-username" 
                            class="Form__input" 
                            name="username" 
                            placeholder="Username" 
                            autocomplete="off"
                            required
                        >
                        <label class="Form__label">Username</label>    
                    </div>                
                    <!-- Password input -->
                    <div class="Form__group">
                        <input 
                            type="password"                      
                            class="Form__input" 
                            name="password" 
                            placeholder="Password" 
                            autocomplete="off"   
                            required                                                      
                        >
                        <label class="Form__label">Password</label>    
                    </div>
                    <!-- Register button -->
                    <div class="ButtonGroup">
                        <div class="u-center-x-absolute">
                            <button class="Button Button--large Button--primary">Register</button>
                        </div>                        
                    </div>                
                </form>                
            </div>    <!--Div.Login end -->
        </div> <!-- Div.DisplayTabbed__panel -->
                      
    </div> <!-- Div.display-tabbed__panels -->
</div> <!-- Div.display-tabbed -->
      
<script>
var tabs = document.querySelectorAll('.display-tabbed__tab');
var panels = document.querySelectorAll('.display-tabbed__panel');
var activeTab = "display-tabbed__tab--active";
var activePanel = "display-tabbed__panel--active";

for(var i=0; i < tabs.length; i++){          
    (function(){
        var tab = tabs[i];
        var panel = panels[i];                

        tab.addEventListener('click', function(e){                                     
            for(let i=0; i < tabs.length; i++){
                tabs[i].classList.remove(activeTab);
            }
            this.classList.add(activeTab);

            for(let i=0; i < panels.length; i++){                
                panels[i].classList.remove(activePanel);
            }        
            panel.classList.add(activePanel);    
        });
    })()                      
}
                                            
</script>

<% include ./partials/footer %>