<div id="my-polls-page" class="section">
     <ul class="poll-list pure-menu-list">
        {{#each myPolls}}
        <li id={{this._id}} class="poll-list-item"><a href='/polls/user/{{this._id}}' class="pure-menu-link">{{this.name}}</a></li>
        {{/each}}
    </ul>
</div>

