<div id="my-polls" class="section">
    <h1>My Polls</h1>
     <ul id="mypoll-list">
        {{#each myPolls}}
        <li id={{this._id}}><a href='/polls/user/{{this._id}}'>{{this.name}}</a></li>
        {{/each}}
    </ul>
</div>

