<div id="new-poll-page" class="section pure-g">
    <div class="card pure-u-1 pure-u-xl-1-2">
        <h1>Create A New Poll!</h1>
        <form id="new-poll-form" class="pure-form-stacked">
            <label for="new-poll-title">Title: </label>
            <input id="new-poll-title" form="new-poll-form" type="text">
            
            <label for="new-poll-options">Options (seperated by lines): </label>
            <textarea id="new-poll-options" name="new-poll-options" cols="30" rows="10"></textarea>
            
            <button id="new-poll-submit-btn" class="pure-button pure-button-primary">Add Poll</button>
        </form>
    </div>    
</div>

<script type="text/javascript" src="/src/javascripts/new-poll-ui.js"></script> 