<div id="new-poll" class="section">
    <h1>Create A New Poll</h1>
    <form id="new-poll-form" action="/newpoll" method="post">
        <label>
            Title:
            <input form="new-poll-form" type="text">
        </label>
        <label>
            Options (seperated by lines):
            <textarea name="poll-options" id="new-poll-options" cols="30" rows="10"></textarea>
        </label>    
        <button id="new-poll-submit" type='submit' form='new-poll-form'>Submit</button>
    </form>
</div>