<% include ../partials/header %> 

<div class="Banner u-margin-bottom-lg">
    <div class="Banner__title-box">
        <div class="HeadingPrimary">
            <h1>Create a new poll now!</h1>
        </div>        
    </div>
</div>        

<div class="row-g">    
    <form id="new-poll-form" class="Form" action="/polls" method="POST">
        <div class="Form__input-group Form__input-group--centered">
            <label for="new-poll-name">Title: </label>
            <input 
                type="text" 
                id="new-poll-name" 
                class="Form__input"                     
                name="poll[name]" 
                placeholder="Requires a name" 
                required
            >
        </div>
        <div class="Form__input-group Form__input-group--centered">
            <label for="new-poll-question">Question:</label>            
            <input 
                type="text" 
                id="new-poll-question" 
                class="Form__input"                       
                name="poll[question]" 
                placeholder="Requires a name" 
                required
            >
        </div>
        <div class="Form__input-group Form__input-group--centered">
            <label for="new-poll-options-v">Options: </label>
            <!-- visible option input             -->
            <input 
                type="text" 
                id="new-poll-options-v" 
                class="Form__input Form__input--inline" 
                form="#" 
                placeholder="Enter at least one option"
            >
            <a href="#" class="ButtonLink" id="new-opt-btn">+</a>            
            <!-- hidden option input -->
            <input type="text" id="new-poll-options-h" name="poll[optionsRaw]" style="display: none">
            
        </div>                                                                                                                                                 
    </form>                

    <div>
        <ul id="option-display-list">
            
        </ul>
    </div>

    <div class="ButtonGroup">
        <div class="ButtonSubGroup u-center">
            <button 
            form="new-poll-form" 
            id="new-poll-submit-btn" 
            class="Button Button--large Button--primary"
            >
                Add Poll
            </button>
        </div>
        
    </div>
</div>


<script>
    (function(){
        var option = document.getElementById('new-poll-options-v');
        var newOptions = document.getElementById('new-poll-options-h');
        var optBtn = document.getElementById('new-opt-btn');
        var optionList = document.getElementById('option-display-list');
        var optionsInList = "";
        optBtn.addEventListener('click', function(e){
            e.preventDefault();
            optionsInList += "<li>" +  option.value  + "</li>";
            newOptions.value += "|" + option.value;
            option.value = ""; 

            optionList.innerHTML = optionsInList;
        });
    })();
    
</script>

<% include ../partials/footer %> 