<% include ../partials/header %> 

<div class="Banner u-margin-bottom-lg">
    <div class="Banner__title-box">
        <div class="HeadingPrimary">
            <h1>Create a new poll now!</h1>
        </div>        
    </div>
</div>        

<div class="row-g">    
    <form id="new-poll-form" class="Form u-margin-bottom-sm" action="/polls" method="POST">        
        <div class="Form__group Form__input-group--centered">            
            <input 
                type="text" 
                id="new-poll-name" 
                class="Form__input"                     
                name="poll[name]" 
                placeholder="Name" 
                autocomplete="off"
                required
            >
            <label for="new-poll-name" class="Form__label">Name </label>
        </div>
        <div class="Form__group Form__input-group--centered">
                        
            <input 
                type="text" 
                id="new-poll-question" 
                class="Form__input"                       
                name="poll[question]" 
                placeholder="Question" 
                autocomplete="off"
                required
            >
            <label for="new-poll-question" class="Form__label">Question</label>
        </div>

        <div class="Form__group Form__input-group--centered">
            
                <!-- visible option input             -->
                <input 
                    type="text" 
                    id="new-poll-options-v" 
                    class="Form__input Form__input--inline"                                         
                    placeholder="Option"
                    autocomplete="off"
                >
                <label for="new-poll-options-v" class="Form__label">Option</label>                         
                <a href="#" class="Button Button--tiny Button--regular" id="new-opt-btn">+</a>            
                   
            <!-- hidden option input -->
            <input type="text" id="new-poll-options-h" name="poll[optionsRaw]" style="display: none">
            <div class="u-margin-top-sm">
                <ul id="option-display-list" class="OptionList">                                     
                </ul>
            </div>            
        </div>                                                                                                                                                 
    </form>

    
    

   

    <div class="ButtonGroup">
        <div class="u-center-absolute">
            <button 
            form="new-poll-form" 
            id="new-poll-submit-btn" 
            class="Button Button--large Button--primary "
            >
                Add Poll
            </button>                
        </div>        
    </div>
</div>


<script>
    (function(){
        
        var optBtn = document.getElementById('new-opt-btn');
        var option = document.getElementById('new-poll-options-v');
        var addOptionItem = (function addOption(){            
            var newOptions = document.getElementById('new-poll-options-h');
            var optionList = document.getElementById('option-display-list');
            var optionsInList = "";
            return function(){
                optionsInList += 
                    "<li class='OptionList__option'><span class='OptionList__option-name TextLabel--lg'>" +  
                    option.value  + 
                    "</span></li>";
                newOptions.value += "|" + option.value;
                option.value = ""; 
                optionList.innerHTML = optionsInList;
            }
            
        })();
                
        optBtn.addEventListener('click', function(e){            
            addOptionItem();
            e.preventDefault();
            
        });
        
    })();
    
</script>

<% include ../partials/footer %> 