h1{
    color: red;
}

#chart-container{
    position: relative;
    width: 300px;
    height: 300px;
}

#new-option-container.hidden{
    display: none;
}

#poll-info-container.hidden{
    display: none;
}