*{
    position: relative; 
}
h1{
    color: red;
}

#header{
    width: 80%;
    margin: 0px auto;
    font-size: 20px;
}

#chart-container{
    position: relative;
    width: 300px;
    height: 300px;
}

#new-option-container.hidden{
    display: none;
}

#poll-info-container.hidden{
    display: none;
}

.section{
    width: 80%;
    margin: 0px auto;
    /*border: 1px solid red;*/
}

.poll-result{
    /*border: 1px solid red;*/
}

#delete-poll-btn{
   position: absolute;    
   left: 25%;
   margin-top: 20px;
}
