//Absolute positioning in center of page
//

.Alert {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    font-size: 2rem;
    color: $color-black;
    opacity: .8;
    z-index: 100;
    border-radius: 4px;
    text-align: center;
    line-height: 5;
    animation: fadeout 5s;
    animation-fill-mode: forwards;
    
    &--warning {
        background-color: $color-red;
    }    

    &--success {
        background-color: $color-green;
    }
}

@keyframes fadeout{
    0% {
        opacity: 1;
    }

    95% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        z-index: -100;
    }
}