$display-tabbed-height: 88vh;
$display-tabbed-width: 50%;
$display-tabbed-min-width: 60rem;
$display-tab-width: 15rem;


.display-tabbed{
    width: $display-tabbed-width;
    min-width: $display-tabbed-min-width;
    height: $display-tabbed-height;
    margin: 5rem auto;    
    // @include outline;

    & > ul {
        padding-left: 0;
        margin-top: 0;      

        li {
            float: left;
            list-style-type: none;
            width: $display-tab-width;
            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }

    &__tab {                
        display: inline-block;
        text-decoration: none;
        width: $display-tab-width;
        line-height: 3;
        // height: $display-tab-height;
        background-color: $color-white;
        color: $text-dark;
        text-align: center;
        border-radius: 4px 4px 0 0;
        // box-shadow: 1px 0px 2rem rgba($color-black, .2);
        // @include outline;
        

        &:focus,
        &:hover {
            text-decoration: none;
            background-color: $color-white;            
            color: $text-dark;
        }

        &:active, 
        &--active {
            text-decoration: none;
            background-color: $color-white;
            color: $text-dark;
            box-shadow: -2px 0px 2rem rgba($color-black, .2);
        }            
    }

    &__panels {
        width: 100%;
        height: 100%;
        position: relative;
        clear: both;
        // @include outline;
    }
    
    &__panel {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 10px;
        color: $text-dark;
        background-color: $color-white;
        overflow: hidden;
        // @include outline;

        &--active {
            z-index: 10;
        }
    }
  }
  