$option-height: 6rem;

.OptionList {
    display: block;        
    width: 100%;
    padding: 0;        
    list-style: none; 
    // @include outline;
 
    &__option {        
        position: relative;
        // display: block;
        width: 100%;
        min-height: $option-height;        
        padding: .5rem 1rem;
        line-height: 2;
        border: 2px solid $color-black;
        border-radius: 5px;
        background-color: $color-primary;
        transition: transform .2s ease;
        cursor: pointer;
        // @include outline;

        &:not(:last-child){
            margin-bottom: .5rem;
        }

        &:hover{
            @include select;          
        }

        > label {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
        }

        &-id {
            display: none;
        }

        &-select,
        &-name,
        &-new,
        &-count,
        &-percent,
        &-input {
            position: relative;
            font-family: $font-primary;
            min-height: $option-height;            
            font-size: $option-height / 3;
            font-family: $font-primary;
            font-weight: 500;
            letter-spacing: 1px;
            color: $text-dark;            
            padding: 1rem;
            // @include outline;                   
        }

        &-select,
        &-name,
        &new {
            margin-right: auto;
        }

        &-select {            
            flex: 0 0 10%;
            position: relative;
            
            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);                
                content: "";
                width: $option-height / 2;
                height: $option-height / 2;
                border: 3px solid $color-tertiary;            
            }

            &::after {
                position: absolute;                                
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);                
                background-color: $color-tertiary;
                content: "";
                width: $option-height / 1.5;
                height: 4px;                                
                opacity: 0;
                transition: opacity .6s ease;
            }
        }
        
        &-name {
            flex: 0 0 75%;
        }

        &-new {
            flex: 0 0 90%;
        }

        &-count,
        &-percent {            
            text-align: center;            
        }

        &-count {
            display: none;
            z-index: -1;
            opacity: 0;
        }
        
        &-percent {            
            flex: 0 0 15%;
            z-index: 10;
        }

        &-checkbox {
            display: none;        
        }

        &-checkbox:checked + label > &-select::after {     
            opacity: 1;
        }

        &-checkbox--new:checked + label &-input {
            z-index: 10;
            opacity: 1;
        }

        &-input {
            font-family: inherit;
            position: absolute;
            left: 12%;
            top: 0;
            width: 88%;
            height: 100%;
            padding-left: 1rem;
            background-color: $color-primary;
            z-index: -1;
            opacity: 0;
            outline: none;
            border: none;
            transition: opacity .6s ease;                                    
            // @include outline;
        }               
    }    
}