<% include ../partials/header %> 

<div id="my-polls-page" class="section pure-g">
    <div class="card pure-u-1 pure-u-xl-1-2">
        <h1 class="section-title">My Polls</h1>
        <ul class="poll-list pure-menu-list">            
            <% myPolls.forEach(function(poll){ %>
                <li id="<%= poll._id %>" class="poll-list-item">
                    <a href="/polls/user/<%= poll._id %>" class="pure-menu-link"><%= poll.name %></a>
                </li>
            <% }); %>                        
        </ul>
    </div>    
</div>

<% include ../partials/footer %> 