.poll {        
    ul {
        display: block;        
        padding: 0;        
        list-style: none;        
    }

    &__option {        
        position: relative;
        display: block;
        height: 6rem;        
        padding: 0;
        line-height: 2;
        border: 2px solid $color-black;
        box-shadow: 0 2px 1rem rgba($color-black, .4);
        transition: transform .1s;
        cursor: pointer;

        &:not(:last-child){
            margin-bottom: .5rem;
        }

        &:hover{
            transform: scale(1.01);
            box-shadow: 0 2px 2rem rgba($color-black, .6);
        }

        &--selected {
            border: 2px solid red;
        }

        &-id {
            display: none;
        }

        &-name,
        &-new {
            position: absolute; 
            display: inline-block;            
            width: 90%;           
            top: 50%; 
            font-size: 2rem;
            margin-left: 0;
            padding: 1rem;
            transform: translateY(-50%);
            // border: 1px solid red;            
        }

        &-count{
            position: absolute;                               
            display: inline-block;
            width: 10%;
            top: 50%;
            right: 0;
            font-size: 2rem;
            margin: 0;
            padding: 1rem;
            text-align: center;
            transform: translateY(-50%);
            // border: 1px solid red;            
        }        
    }

    &__option-checkbox:checked + label span {
        color: red;
    }
    
}