.Login {    
    position: relative;        
    width: 60%;
    min-width: 50rem;
    height: 50rem;
    // border: 1px solid $color-light-grey;
    border-radius: 4px;

}

.Registration {
    position: relative;
    width: 60%;
    min-width: 50rem;
    height: 50rem;
    // @include outline;
}